@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-image: url(../img/header_hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &__informacion {
        padding: 6rem;
        
        @include m.tablet { 
            padding: 8rem;
         }
    }

    &__contenido {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        @include m.tablet { 
            grid-template-columns: repeat(2,1fr);
            gap: 2rem;
         }
    }   

    &__heading {
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 400;
        color: v.$grisOscuro;

        @include m.tablet { 
            font-size: 6rem;
         }
    }
    
    &__precio {
        color: v.$azul;
        font-weight: 700;
        margin-bottom: 2rem 1rem;
        font-size: 1.5rem;

        @include m.tablet { 
            font-size: 2rem;
         }
    }

    &__texto {
        max-width: 30rem;
        margin-bottom: 5rem;
        line-height: 1.5;
        font-size: 2rem;


    }

    &__btn {
        padding: 1rem 3rem;
        color: v.$grisOscuro;
        border: 0.5rem solid v.$grisOscuro;
        transition-property: background-color;
        transition-duration: 300ms;
        
        &:hover {
            background-color: v.$grisOscuro;
            color: v.$blanco;

        }
        
    }
    
}